.del-btn{
  /* background-color: rgb(255, 1, 1);
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  font-family: comic; */
  border-style: solid;
  border-color: maroon;
  color: wheat;
  background-color: black;
}
.del-btn:hover{
  background-color: black;
  color: red;
}